<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		 crossorigin="anonymous">
		<link th:href="@{/css/backend.css?v=1.0.0}" rel="stylesheet" type="text/css" />
		</link>

		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		 crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		 crossorigin="anonymous"></script>
		<script type="text/javascript">
			function formReset() {
				document.getElementById("frm").reset();
			}

			function formSubmit() {
				var cid = document.getElementById("cid").value;
				var num = document.getElementById("num").value;
				var duration = document.getElementById("duration").value;
				var info = "查询课程编号为 " + cid + ",做题数量为 " + num + ",学习时长为 " + duration + " 的学生信息";
				alert(info);
			}
		</script>
		<title>Course Judger</title>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-blue">
			<a class="navbar-brand" href="#">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-stack" viewBox="0 0 16 16">
					<path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z" />
					<path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z" />
				</svg>
				<strong>&nbsp;Course Judger</strong>
			</a>
		</nav>

		<div style="display: none;">
			<tr id="courselist" th:object="${courselist}">
			</tr>
			<tr id="courseacculist" th:object="${courseacculist}">
			</tr>
		</div>

		<div class="row m-3">
			<div class="row p-4 m-auto col-md-6 rounded-lg" style="height: 1400px">
				<div class="card card-block card-stretch card-height">
					<div class="card-header d-flex justify-content-between border-none">
						<div class="header-title">
							<h4 class="card-title">All Students</h4>
						</div>
						<div class="card-header-toolbar d-flex align-items-center">
							<button id="btn_reset" onclick="formReset()" class="btn btn-outline-primary btn-sm m-1">重置</button>
							<button id="btn_query" onclick="formSubmit()" class="btn btn-outline-primary btn-sm m-1">查找</button>
						</div>
					</div>
					<form id="frm" class="card-header-toolbar d-flex align-items-center">
						<input type="text" class="form-control mb-2 mr-sm-2 ml-2" id="cid" placeholder="课程编号">
						<input type="text" class="form-control mb-2 mr-sm-2" id="num" placeholder="做题数量">
						<input type="text" class="form-control mb-2 mr-sm-2" id="duration" placeholder="学习时长">
					</form>
					<div class="table-responsive scroller" style="overflow:scroll;height:800px;">
						<table class="table table-striped mb-0 table-borderless">
							<thead class="">
								<tr>
									<th>Student_ID</th>
									<th>Accuracy</th>
									<th>Predict_Accuracy</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item:${stulist}">
									<td th:text="${item.id}">id</td>
									<td th:text="${item.accu}">accu</td>
									<td th:text="${item.preaccu}">preaccu</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="row">
						<div id="stu-accu" class="col-md-6" style="width: 50%; height: 400px;margin: auto;"></div>
						<div id="stu-pre-accu" class="col-md-6" style="width: 50%; height: 400px;margin: auto;"></div>
					</div>
				</div>
			</div>
			<div class="row p-4 m-auto col-md-5 rounded-lg" style="height: 1400px">
				<div class="col-md-12 bg-light rounded-lg" style="height: 740px;">
					<div class="header-title  mt-3 ml-3 mb-3">
						<h4 class="card-title">Student Info</h4>
					</div>
					<div id="stu-sum-accu" style="width: 70%; height: 380px;margin: auto;"></div>
					<div id="stu-video" style="width: 100%; height: 320px;"></div>
				</div>

				<div class="col-md-12 bg-light rounded-lg">
					<div class="header-title mt-3 ml-3">
						<h4 class="card-title">Course Info</h4>
					</div>
					<div class="card-body pt-0">
						<div id="course-sum-accu" style="width: 100%; height: 200px;"></div>
						<div id="course-single-accu" style="width: 100%; height: 300px;"></div>
					</div>
				</div>
			</div>
		</div>
	</body>
		<script src="/js/echarts.min.js" defer="defer"></script>
		<script src="/js/course-single-accu.js" defer="defer"></script>
		<script src="/js/course-sum-accu.js" defer="defer"></script>
		<script src="/js/stu-video.js" defer="defer"></script>
		<script src="/js/stu-sum-accu.js" defer="defer"></script>
		<script src="/js/stu-accu.js" defer="defer"></script>
		<script src="/js/stu-pre-accu.js" defer="defer"></script>
</html>
