<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		 crossorigin="anonymous">
		<link th:href="@{/css/backend.css?v=1.0.0}" rel="stylesheet" type="text/css" />
		</link>

		<title>Course Judger</title>
	</head>
	<body>
		<nav class="navbar navbar-dark bg-blue" style="justify-content: flex-start">
			<a class="navbar-brand" th:href="@{/student/index}">
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-stack" viewBox="0 0 16 16">
					<path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z" />
					<path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z" />
				</svg>
				<strong>&nbsp;Course Judger&nbsp;</strong>
			</a>
			<a class="navbar-brand" th:href="@{/student/courseinfo}" style="opacity: 0.7;"><strong>&nbsp;Courses Overview&nbsp;</strong></a>
			<a class="navbar-brand" th:href="@{/student/quizbase}" style="opacity: 0.7;"><strong>&nbsp;Quiz Info&nbsp;</strong></a>
			<a class="navbar-brand" th:href="@{/student/predict}" style="opacity: 0.7;"><strong>&nbsp;Accu Predict&nbsp;</strong></a>
		</nav>

		<input id="quizcountlist" th:value="${quizcountlist}" hidden>
		<input id="quizacculist" th:value="${quizacculist}" hidden>
		<input id="knowledgelist" th:value="${knowledgelist}" hidden>

		<div class="row m-3">
			<div class="row p-4 m-auto col-md-12 rounded-lg">
				<div class="card card-block card-stretch card-height bg-light col-md-6" style="border: none;">
					<div class="card-header d-flex justify-content-between border-none">
						<div class="header-title">
							<h4 class="card-title">Student Info</h4>
						</div>
					</div>
					<div class="table-responsive scroller" style="overflow:scroll;height:400px;">
						<table class="table table-striped mb-0 table-borderless">
							<thead class="">
								<tr>
									<th>学生编号</th>
									<th>做题数量</th>
									<th>当前正确率</th>
									<th>预测正确率</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item:${stulist}">
									<td th:text="${item.id}">id</td>
									<td th:text="${item.quizcount}">quizcount</td>
									<td th:text="${item.accu}">accu</td>
									<td th:text="${item.preaccu}">preaccu</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="col-md-6">
					<div class="header-title mt-3 ml-4">
						<h4 class="card-title">Accu</h4>
					</div>
					<div id="quiz-accu" style="width: 100%; height: 400px;"></div>
				</div>
			</div>
			
			<div class="row p-4 m-auto col-md-12 rounded-lg bg-light">
				<div class="card-body pt-0 col-md-12">
					<form th:action="@{/student/index}" method="post" class="card-header-toolbar d-flex align-items-center">
						<input type="text" class="form-control mb-2 mr-sm-2 ml-2" th:value="${id}" name="id" placeholder="学生编号">
						<input type="reset" class="btn btn-outline-primary btn-sm m-1" value="重置" />
						<input type="submit" class="btn btn-outline-primary btn-sm m-1" value="查找" />
					</form>
				</div>
				<div class="col-md-7 bg-white rounded-lg mr-4 ml-4">
					<div class="header-title  mt-3 ml-3 mb-3">
						<h4 class="card-title">Mastery of knowledge points</h4>
					</div>
					<div id="knowledge" style="width: 100%; height: 580px;"></div>
					
				</div>

				<div class="col-md-4 bg-white rounded-lg ml-4">
					<div class="header-title mt-3 ml-3">
						<h4 class="card-title">Suggestions</h4>
					</div>
					<div class="card-body pt-0">
						<div id="course-sum-accu" style="width: 100%; height: 200px;"></div>
						<div id="course-single-accu" style="width: 100%; height: 300px;"></div>
					</div>
				</div>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		 crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		 crossorigin="anonymous"></script>
		<script src="/js/echarts.min.js"></script>
		<script src="/js/quiz-accu.js"></script>
		<script src="/js/knowledge.js"></script>
	</body>
</html>
